html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 10px;
    font-family: 'Kanit', sans-serif;
}

main {
    display: block;
}

header {
    background-color: #0D9DE3;
    color: #F1F1F1;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#search-left-side {
    width: 30%;
    float: left;
}

#button {
    background-color: #0D9DE3;
}

#button:hover {
    background-color: #F1F1F1;
}

#weather-right-side {
    width: 70%;
    float: right;
    border-radius: 10px;
    background-color: #F1F1F1;
}